ch04/sim*
*~
*#
*/main
ch06/mountain*
ch07/maindebug
ch08/myls
ch08/mysystem
*/a.out
ch05/perf.data
ch07/
ch08/shellex.c
ch08/shell
ch08/wait*
ch08/write
ch08/write.c
ch08/counterprob.c
ch08/csapp.c
ch08/csapp.h
ch09/hello.txt
*/csapp.*
ch09/mm.*
ch09/memlib.*
ch10/cpfile.c
ch10/foo.txt
ch11/hex2dd.c
ch11/hostinfo
ch11/server
ch11/tiny.c
ch11/*.mp4
ch11/cgi-bin
ch11/home.html
!ch11/cgi-bin
ch11/cgi-bin/*
!ch11/cgi-bin/adderpost.c
ch12/server
csapp_answer_ed.2.pdf

